*{
    margin: 0px;
    padding: 0px;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(/project5feb/images/bg.png);
    background-attachment: fixed;
    background-size: cover;
    height: 91.5vh;
    text-align: center;
}
.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 119px;
}
div{
    border: 1px solid black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 83px;
    height: 94px;
    background-color:#000;
}
.nav-list{
    flex-grow: 1;
}
img{
    width: 92px;
    height: 32px;
}
.straight-line{
    width: 2px;
    height: 50px;
    background-color: #fff;
    margin-left:63px;
}
.list{
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    font-family: "poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}